<h2>Applications</h2>
<div class = "row col-md-6 mychart">
   <div><%= pie_chart @registered_application.events.group(:name).count %></div>
</div>

<div class = "row col-md-6"><%= line_chart @registered_application.events.group_by_day(:created_at) %>
</div>

<div class= "row col-md-12 myurl"><%= @registered_application.url %></div>

<div class = "row col-md-12 edit-app">
  <%= link_to "Edit Application", edit_registered_application_path, class: 'btn btn-warning' %>
</div>

<div class = "row col-md-12 delete-app">
  <%= link_to "Delete Application", @registered_application, method: :delete, data: {confirm: 'Are you sure you want to delete this application!?'}, class: 'btn btn-danger' %>
</div>
